.google-vision-api-key-input {
    width: 50rem;
    height: 4rem;
    left: 627px;
    top: 591px;

    border: 4px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
